extends layout.pug 

block title
    title #{title}
    

block content 
    header.header
        h1.project__title #{title}
        div.project-options
            div.project__users
                - for(let i = 0; i < 5; i++)
                    img(src="/images/user.png" class="project__user" alt="Аватар участника")
                div.project__hidden-users +6   
            button.project__add-board-button
                span.project__add-board-title Add board
                img(src="/images/add-board.svg" class="project__add-board-image" alt="Добавить доску")
            button.project__calendar-and-recents-button
                img(src="/images/arrow.svg" class="project__calendar-and-recents-image")
    main.main
        section.to-do
            div.to-do-container
                header.to-do__header
                    h2.to-do__title To do
                    button.to-do__settings.button
                        img(src="/images/main-settings.svg" alt=("Троеточие для открытия настроек списка"))

                div.to-do-task
                    div.to-do-task__title-container.priority_high-level
                        h3.to-do-task__title Что-то
                    div.to-do-task__description-container
                        p.to-do-task__description Описание чего-то
                    div.to-do__statuses
                        div.to-do__task-info
                            button.to-do__task-options-button.button
                                img(src="/images/arrow.svg")
                            img(src="/images/messages.png", class="to-do__task-option-messages")
                            div.to-do__task-time
                                img(src="/images/time.png")


                            
                    
                
