@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.page{
    padding: 35px 30px 35px 30px;
    margin: 0;

    background: url("/images/background.png");
}

header{
    display:flex;
    justify-content: space-between;
}

.project__title {
    margin: 0;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;

    color: black;
}

.project-options{
    display: flex;
    align-items: center;
    gap: 30px;
}

.project__users{
    display: flex;
    gap: 2.3px;
}

.project__hidden-users{
    width: 53.59px;
    height: 53.59px;

    text-align: center;
    line-height: 55px;

    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;                
}

.project__add-board-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    cursor: pointer;
    border: none;

    width: 160px;
    height: 70px;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.project__add-board-title{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.project__calendar-and-recents-button{
    text-align: center;
    line-height: 75px;
    cursor: pointer;

    width: 70px;
    height: 70px;

    border: none;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.main{
    margin-top: 36px;
}

.to-do{
    width: 580px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

.to-do-container{
    padding: 20px 40px;
}

.to-do__header{
    margin-bottom: 10px;
}

.to-do__title{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    float: left;

    margin: 0
}

.to-do__settings-button{
    font-size: 30px;
    float: right;
    
    border: none;
}

.button{

    border: none;
    cursor: pointer;

    background-color: inherit;

    padding: 0;
}

.to-do-task{
    width: 500px;
    height: 165px;

    position: relative;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

.to-do-task__title{
    font-size: 20px;
    font-family: "Comfortaa";
    font-weight: 600;

    margin: 5px 100px 5px 10px;

    display: inline-block;
}


.to-do-task__title-container{
    background: rgba(255, 98, 98, 0.7);
    border-radius: 10px;

    display: inline-block;

    text-align: center;
    
    margin-left: 20px;
    margin-top: 20px;
}

.priority_high-level{
    background: rgba(255, 98, 98, 0.7);
}

.to-do-task__description-container{
    margin-left: 20px;

    font-family: "Comfortaa";
}

.to-do__statuses{
    margin-left: 20px;
    margin-top: 16px;

    position: absolute;
    bottom: 1rem;
}

.to-do__task-info{
    float: right;
    
    display: flex;

    gap: 10px;
}

.to-do__task-options-button{
    opacity: .5;
}

.to-do__task-time{
   display: flex;
   align-items: center;
   
   gap: 5px;
}

.to-do__time-counter{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: rgba(0, 0, 0, 0.6);
}
